.modal__overlay {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.497);
  transition: .7s ease-in-out;
}

.modal__overlay_active {
  transition: .7s ease-in-out;
  opacity: 1;
  visibility: visible;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.497);
  opacity: 1;
  overflow: hidden;
}